* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Netflix Sans", sans-serif;
    color: white;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #111;
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
  :root {
    --shadow-filter: #666666;
  }
  .img1 {
    margin: auto;
    width: 100%;
    /* height: 540px; */
  }
  body {
    font-size: 1rem;
    background: #1f1f1f;
  }
  /****************Header**************/
  .header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
    z-index: 99;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.01) 0%,
      rgb(0, 0, 0, 0.6) 100%
    );
    transition-timing-function: ease-in;
    transition: all 500ms;
  }
  .header.active {
    background: #111;
  }
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-left a {
    margin-left: 1rem;
    color: rgb(209, 209, 209);
    filter: drop-shadow(1px 1px 1px var(--shadow-filter));
  }
  .header-color {
    background: #111;
  }
  .header-left:first-child {
    margin-right: 2rem;
  }
  .header-left a:hover,
  .header-left .active {
    color: white;
  }
  .header-left img {
    margin-right: 2.4rem;
    width: 10rem;
    filter: drop-shadow(1px 1px 1px var(--shadow-filter));
  }
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-right span a {
    color: white;
  }
  .header-right span {
    cursor: pointer;
    margin-left: 1.2rem;
  }
  .header-right i {
    color: white;
  }
  .header-right span:last-child {
    margin-left: 0.3rem;
  }
  .avatar {
    border-radius: 3px;
    width: 2.4rem;
    filter: drop-shadow(1px 1px 1px var(--shadow-filter));
  }
  .header-right .notify-counter {
    width: fit-content;
    padding: 0.09rem 0.26rem;
    border-radius: 50%;
    background-color: rgb(223, 17, 17);
    color: white;
    margin-left: -0.4rem;
    font-size: 0.7rem;
    position: absolute;
    top: 2rem;
  }
  #logo2hide {
    display: none;
  }
  /**********Banner**********/
  
  .main {
    border: 1px solid black;
  }
  .main #face {
    border: 1px solid black;
  }
  #face #review{
    width: 100%;
  }
  #face #review>img{
    width: 100%;
  }
  .main #recommendation{
    height: 10vh;
    padding: 1% 4%;
  }
  .main #container{
    height: 85vh;
  }
  #container .card-holder{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    justify-content: left;
    /* margin: 2% 0; */
  }
  .card-holder h3{
    height: 11%;
    padding: 1% 4%;
    background-color: #323131;
  }
  .card-holder #card-container{
    width: 100%;
    height: 87%;
    border: 1px solid black;
    padding: 0 4%;
    display: flex;
    justify-content: left;
    gap: 2%;
    overflow-y: hidden;
  }
  #card-container #card{
    align-self: center;
    border: 1px solid black;
    height: 84%;
    min-width: 20%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 10px white;
  }
  #card #Info{
    position: relative;
    height: 100%;
    /* backdrop-filter: blur(14px);
    background-color: rgba(255, 253, 253, 0.7);  */
  }
  #Info #cover{
    /* width: 60%;
    height: 60%;
    margin: 2% 20%; */
    width: 100%;
    height: 100%;
    filter: brightness(40%) grayscale(20%) blur(2px);
  }
  .caption{
    backdrop-filter: blur(3px);
    position: absolute;
    right: 15%;
    bottom: 2.75rem;
    left: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .title{
    font-size: calc(1.325rem + .9vw) !important;
  }
  .text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 125px;
  }
  /***********footer icon************/
  .footer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.3rem;
    position: fixed;
    bottom: 0;
    background: #111;
    z-index: 99;
  }
  .bottom-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(209, 209, 209);
    margin: 0.6rem 2.4rem;
    font-size: 0.8rem;
  }
  .footer .active {
    color: white;
  }
  .bottom-icon i {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  /*************Mobile view**************/
  @media (max-width: 990px) {
    html {
      font-size: 90%;
    }
  }
  @media (max-width: 550px) {
    html {
      font-size: 80%;
    }
    .row-PosterLarge {
      width: 90%;
      max-height: 180px;
    }
    #hide {
      display: none;
    }
    #logo1hide {
      display: none;
    }
    #logo2hide {
      display: block;
      margin-right: 1.4rem;
      width: 2.4rem;
    }
    .header-left a {
      margin-left: 2.5rem;
    }
    .footer {
      display: flex;
    }
  }
  